version: "3.10"
services:
  stdhuman:
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
        - linux/arm64
        - linux/arm/v7
        - linux/arm64/v8
    environment:
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - DEV_TELEGRAM_USERNAME=${DEV_TELEGRAM_USERNAME}
      - PORT=18081
      - TIMEOUT=${TIMEOUT:-3600}
    container_name: stdhuman-bot
    ports:
      - "18081:18081"
    volumes:
      - ./.telegram_user_id:/app/.telegram_user_id
      - ./.telegram_start_code:/app/.telegram_start_code
    restart: unless-stopped
    healthcheck:
      test: [
        "CMD",
        "curl",
        "-f",
        "http://localhost:18081/v1/health",
      ]
      interval: 30s
      timeout: 5s
      retries: 3
